:root {
    --warm-black: #201E1C;
    --bitcoin-orange: #F7931A;
    --white: #FFFFFF;
    --off-white: #FAF8F7;
    --black: #282623;
    --soft-orange: #FFE9D4;
    --grey: #BABABA;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
// <weight>: Use a value from 100 to 900
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" <slant>;

// <weight>: Use a value from 100 to 1000
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/
html {
    /* <weight>: Use a value from 100 to 900 */
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
.title {
    font-size: 2.4rem;
    line-height: 2.6rem;
    width: 85%;
    font-weight: 700;
}
.paragraph {
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 85%;
    font-weight: 500;
}
.down-arrow {
    width: 12px;
    height: 7.41px;
    background: url('./assets/icons/down-arrow.svg') center/cover no-repeat;
    display: inline-block;
    margin-left: 12px;
}
.paragraph--soft-orage{
    color: var(--soft-orange);
}
.header {
    height: 29.5rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    text-align: center;
    padding: 30px 0;
    background: var(--linear-bg);
}
.header__plans {
    text-decoration: none;
    color: var(--warm-black);
    font-weight: 700;
    font-size: 1.4rem;
    position: absolute;
    top: 27.42rem;
    padding: 1.2rem 1.2rem;
    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.tasas-cambio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--off-white);
}
.img-background {
    width: 195px;
    height: 195px;
    background: url('./assets/img/Bitcoin.svg') center/cover no-repeat;
    margin-top: 65px;
    margin-bottom: 35px;
}
.title--section-color {
    margin-bottom: 20px;
    color: var(--warm-black);
}
.paragraph--section-color {
    color: #757575;
}
.table-container {
    margin-top: 40px;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.table-container__table {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-table {
    width: 200.8px;
    margin-bottom: 10px;
    line-height: 2.6rem;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: left;
    padding-left: 18px;
}
.title-table--color {
    color: #FF9536;
}
.title-table--color-blue{
    color: #1A9AF7;
}
.table-container__column {
    height: 3.9rem;
    background-color: var(--white);
}
.table-container__column--crypto {
    width: 10.1rem;
    text-align: left;
}
.table-container__column--price {
    align-content: center;
    width: 9.5rem;
}
.table-paragraph {
    margin: 0 auto;
    width: 80%;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.936rem;
    color: #B5B0AC;
}
.table-paragraph--price-font-size {
    display: inline-block;
    width: auto;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 16.94px;
    color: #757575;
}
.table-container__down-graph {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('./assets/icons/trending-down.svg') center/cover no-repeat;
    margin-left: 12px;
}
.table-container__up-graph {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('./assets/icons/trending-up.svg') center/cover no-repeat;
    margin-left: 12px;
}
.table-container--column-top-left {
    border-radius: 8px 0px 0px 0px;
}
.table-container--column-top-right {
    border-radius: 0px 8px 0px 0px;
}
.table-container--column-bottom-left {
    border-radius: 0px 0px 0px 8px;
}
.table-container--column-bottom-right {
    border-radius: 0px 0px 8px 0px;
}
.table-text-update {
    color: var(--warm-black);
    font-size: 1.2rem;
    font-weight: 400;
    min-width: 180px;
    margin-top: 20px;
    margin-bottom: 65px;
    padding: 10px 10px;
    border-radius: 8px;
}
.table-text-update--title-bold {
    font-weight: 700;
}
.table-text-update--background-color {
    background-color: var(--soft-orange);
}
.table-text-update--background-color-blue {
    background-color: var(--soft-blue);
}
.inactive {
    display: none;
}
.arrow {
    position: absolute; 
    width: 7.41px;
    height: 12px;
    background: url('./assets/icons/right-arrow.svg') no-repeat;
}
.arrow--left {
    transform: scaleX(-1);
    margin-right: 25rem;
    margin-top: 11.2rem;
    background-position: right;
}
.arrow--right {
    margin-left: 25rem;
    margin-top: 11.2rem;
    background-position: right;
}
.product-comparation {
    padding: 55px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--warm-black);
    text-align: center;
    align-items: center;
}
.chip-icon {
    height: 24.01px;
    background: url('assets/icons/batata.svg') center no-repeat;
}
.chip-icon--product-comparation {
    width: 100%;
    position: absolute;
    top: -12px;
}
.title--color-white {
    color: var(--white);
    margin-bottom: 30px;
}
.paragraph-color-gray {
    color: #808080;
    width: 100%;
}
.paragraph--margin-bottom {
    margin-bottom: 15px;
}
.title--size {
    font-size: 1.8rem;
    margin: 8px 0;
    width: 100%;
}
.product-comparation--articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    width: 100%;
}
.product-comparation__article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    width: 100%;
} 
.product-comparation__article-item {
    margin: 10px 0;
    background-color: #282623;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    width: 100%;
    padding: 18px;
    text-align: left;
    margin-top: 15px;
}
.bitcoin-baby__background-img{
    width: 100%;
    height: 387px;
    background: url('./assets/img/bitcoinbaby.png') center/cover no-repeat;
}
.title--background {
    color: var(--white);
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}
.plans {
    background-color: var(--off-white);
    padding-bottom: 40px;
}
.title--plans {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding-top: 40px;
}
.paragraph--plans {
    color: #757575;
    margin: 30px auto;
    margin-bottom: 45px;
    text-align: center;
}
.plans__cards {
    display: flex;
    padding-top: 18px;
    padding-bottom: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    align-items: center;
}
.plans__card-item {
    scroll-snap-align: center;
    flex-shrink: 0;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    margin: 0 5px;
    position: relative;
    text-align: center;
    width: 19.2rem;
}
.plans__card-item--margin-left {
    margin-left: calc(100% - 19.2rem);
}
.plans__card-item--margin-right {
    margin-right: calc(100% - 19.2rem);
}
.inter-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.inter-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
.inter-title--float-title {
    position: absolute;
    margin: 0 calc(100%/2 - 10.45rem / 2);
    background-color: var(--bitcoin-orange);
    font-size: 1.2rem;
    border-radius: 8px;
    color: var(--white);
    padding: 10px;
    top: -16px;
}
.paragraph--card-item {
    width: 100%;
    padding-top: 30px;
}
.inter-text--card-item {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.inter-title--card-item {
    font-size: 5.2rem;
    line-height: 42px;
}
.inter-text--font-color {
    width: 90%;
    margin: 0 auto;
    color: #757575;
    margin-bottom: 15px;
}
.title--box-plans-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 10px;
    background-color: var(--off-white);
    border: 2px var(--bitcoin-orange) solid;
    border-radius: 4px;
    margin-bottom: 30px;
}
.arrow--plans-left {
    transform: scaleX(-1);
    right: calc(100% - 10%);
    margin-bottom: 40px;
}
.arrow--plans-right {
    margin-bottom: 40px;
    left: calc(100% - 10%);
}
.arrow-right-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url('./assets/icons/orange-right-arrow.svg') right no-repeat;
}
.footer {
    padding: 40px 0;
    background-color: var(--bitcoin-orange);
    display: flex;
}
.footer__socials {
    width: 50%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.paragraph--footer-social {
    display: inline;
    list-style: none;
    padding: 0 10px;
    margin-bottom: 10px;
    line-height: 25px;
}
.anchor {
    color: var(--white);    
    text-decoration: none;
}
.anchor--plans {
    color: var(--warm-black);
}
.footer__logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    color: var(--soft-orange);
    align-content: flex-end;
    justify-content: center;
    font-size: 0.8rem;
}
.chip-icon--footer-logo {
    width: 90%;
}
.paragraph--footer-logo {
    width: 90%;
    text-align: center;
    padding-top: 6px;
}
.arrow, .header__plans:hover {
    cursor: pointer;
}
.cards-display-none {
    width: 19.2rem;
    height: 24.46rem;
    color: var(--white);
    background-color: var(--white);
}
.no-text {
    color: var(--white);
    border: 2px var(--white) solid;
    background-color: var(--white);
}